@media screen and (min-width:900px){       /* cuando achicamos la pantalla hasta un minimo de 700 px se realizara todos esos eventos */
    header{
        width: 100%;
        height: 165px;
    }
    .menu li a{
        padding: 15px 20px;
    }
    .logo{
        height: 80px
    }

    header h1{
        font-size: 30px;
        align-content: flex-start;
    }    
}
